body,
html {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background: #191624;
  color: white;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 50vw;
  width: 100%;
}

img {
  object-fit: contain;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:is(h1, h2, h3, h4) {
  color: #b4aeec;
  margin-bottom: -15px;
}

:is(.header, .carousel) :is(h1, h2, h3, h4) {
  margin: 0;
  padding: 0;
}

:is(.carousel, .carousel-container, #links) li {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

section {
  margin: 15px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  color: rgb(230, 179, 223);
}

button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
}
button:hover {
  background-color: white;
  color: black;
}

a:hover {
  color: gray;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0, 25px !important;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 100vw;
}
.header > h3 {
  margin-left: 25px !important;
}

#links > * {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.menubar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  transition: background-color 0.3s;
}
.group:hover .menubar {
  background-color: gray;
}

.menu {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.group:hover {
  background-color: transparent;
}

.menu-dropdown > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel > li {
  scroll-snap-align: center;
  flex: 0 0 100%;
  justify-items: center;
}
.carousel > li > * {
  width: 100%;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 25px;
}

code {
  background-color: rgba(0, 0, 0, 0.25);
  color: #e6e6eb;
  font-weight: bold;
  white-space: pre-wrap;
  word-break: break-word;
  display: inline-block;
}

code {
  white-space: pre-wrap;
  word-break: break-word;
}

@media (max-width: 960px) {
  #root {
    max-width: 100vw;
  }
}
