body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(33, 32, 39);
  color: white;
  font-size: 20px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

section {
  margin: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

button{
  border: none;
  background-color: black;
  color: white;
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
  border: 2px solid white;
}
button:hover{
  background-color: white;
  color: black
}

a:hover {
  color: gray;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  border-bottom: 2px solid rgb(255, 255, 255);
}
#links > * {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.menubar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  transition: background-color 0.3s;
}
.group:hover .menubar {
  background-color: gray;
}

.menu {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu-dropdown > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.carousel{
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel>li{
  scroll-snap-align: center;
  flex: 0 0 100%;
  justify-items: center;
}
.carousel>li>*{
  width: 100%;
}

.carousel-container{
  display: flex;
  flex-direction: row;
}
